body{
    background-color: rgb(15, 17, 19);
}

/* Navbar */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color:#fff;

}

html{
    font-family: "font-family: 'Ubuntu', sans-serif;";
}

#navbar{
    color:#fff;
    display:flex;
    justify-content: space-between ;
    align-items: center;
    padding: 0 0.75rem;
    height: 70px;
}

#navbar ul {
    list-style: none;
    display: flex;
    align-items:center;
}

#navbar ul li a {
    padding: 0.5rem;
}

#navbar ul li a:hover {
    background:rgb(221, 14, 14) ;
    border-radius: 4px;
}

/* Home & About Section */

#main{
    display:flex;
    flex-direction: column;
    min-height: 800px;
    align-items: center;
    padding:2rem;
    border-bottom: 1px solid darkred;
}

#main .name h1{
    margin-bottom: 0.3rem;
    color: rgb(221, 14, 14) ;
}

#main .name h2{
    margin-bottom: 0.3rem;
    color: rgb(221, 14, 14) ;
}

#main .name h3{
    margin-bottom: 0.3rem;
    color: rgb(221, 14, 14) ;
}

#main .name p{
    opacity:0.6rem;
    font-style:italic;
    font-size: 1.5rem;
    color:rgb(221, 14, 14) ;
}

#main .github{
    margin-top:1.25rem;
    background-color: rgb(179, 20, 20) ;
    color:#fff;
    padding:0.6rem 1.8rem;
    border-radius: 5px;
}

#main .github:hover{
    background:rgb(15, 17, 19);
    color:rgb(221, 14, 14) ;
    border: 1px solid rgb(221, 14, 14) ;
}



/* Mainpage */

#main{
    background-color: rgb(15, 17, 19) !important;
}

#main .latest-projects{
    margin-top:40px !important;
    margin-bottom:20px !important;
}

#main .about-text{
    color:rgb(221, 14, 14) !important;
}



/* Footer/ Contact Section*/

#contact{
    color:#fff;
    padding:1rem;
}

#contact .contact-form{
    max-width: 700px;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    flex-direction: column;
}

#contact .contact-form ul{
    list-style: none;
    display: flex;
    margin-top:0.8rem;
    align-self: center;
}

#contact .contact-form ul li a{
    padding:1rem;
    font-size:2rem;
}

#contact .contact-form ul li a:hover{
    opacity: 0.5;
}

